In [74]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [75]:
df = pd.read_csv('hiring.csv')

In [76]:
df

   experience  test_score  interview_score  salary
0           2         8.0                9   50000
1           2         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         NaN                7   72000
7          11         7.0                8   80000

In [77]:
import math
# df.experience=df.experience.fillna('zero')
df.test_score=df.test_score.fillna(df.test_score.median())
df

   experience  test_score  interview_score  salary
0           2         8.0                9   50000
1           2         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [78]:
# new_df=df.drop('experience',axis='columns')
model = linear_model.LinearRegression()
model.fit(df.drop('salary',axis='columns'),df.salary)

LinearRegression()

In [79]:
model.predict(df.drop('salary',axis='columns'))

array([55857.74058577, 47548.11715481, 56175.73221757, 62460.25104603,
       65615.06276151, 59941.42259414, 76158.9958159 , 80242.67782427])

In [81]:
model.predict([[2,9,6],[12,10,10]])

/Users/saiprajothmallyala/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([49464.43514644, 94761.50627615])