In [14]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [15]:
df = pd.read_csv('/Users/saiprajothmallyala/Downloads/homeprices.csv');
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
import math
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())

In [17]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [28]:
model = linear_model.LinearRegression()
model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [21]:
p=model.predict(df.drop('price',axis='columns'))
p

array([518217.63297611, 602590.07937407, 615307.4140366 , 597962.89583192,
       760663.42675457, 795258.55102673])

In [22]:
df["predicted prices"]=p

In [23]:
df

   area  bedrooms  age   price  predicted prices
0  2600       3.0   20  550000     518217.632976
1  3000       4.0   15  565000     602590.079374
2  3200       4.0   18  610000     615307.414037
3  3600       3.0   30  595000     597962.895832
4  4000       5.0    8  760000     760663.426755
5  4100       6.0    8  810000     795258.551027

In [25]:
df.to_csv('revised_predictedPricesadded.csv')

In [26]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [27]:
model.intercept_

221323.00186540402